<a href="https://colab.research.google.com/github/LOWERCAS3/PracticeProjects/blob/master/StockMarketAnalysisAndPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Rough Goals:**
Analyse Stock market data of some specific companines and get stock informations using pandas, 
Visualize and Analyse the stocks based on its history

**Detailed Objective**


---
Browse through Stocks on Yahoo.com and pick some websites.

Try To answer the questions
1.   What was the change in price of the stock over time?
2.   What was the daily return of the stock on average?
1.   What was the moving average of the various stocks?
2.   What was the correlation between different stocks'?
1.   How much value do we put at risk by investing in a particular stock?
2.   How can we attempt to predict future stock behavior?

Outline of Work


*   Change in price of the stock over time.


> Import Libraries.

> Read Stock Data from Yahoo.

> Choose Stocks work with.

> Clean Data and Create DataFrame.

> Visualize Data on per Stock basis.

In [ ]:
#Used to get data from yahoo
!pip install pandas-datareader
!pip install yfinance
!pip install yahoofinancials

In [36]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader 
from pandas_datareader import data as pdr
import yfinance as yf
from yahoofinancials import YahooFinancials

# For time stamps
from datetime import datetime

In [37]:
# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

# Set up End and Start times for data grab
endDate= datetime.now()
startDate = datetime(endDate.year - 1, endDate.month , endDate.day)

In [33]:
#Getting dataset for each stock
for i in tech_list:
  name = i
  globals()[i] = yf.download(name, start=startDate, end=endDate, progress=False)

                  Open        High  ...   Adj Close     Volume
Date                                ...
2021-01-28  139.520004  141.990005  ...  136.250046  142621100
2021-01-29  135.830002  136.740005  ...  131.151474  177523800
2021-02-01  133.750000  135.380005  ...  133.318115  106239800
2021-02-02  135.729996  136.309998  ...  134.162918   83305400
2021-02-03  135.759995  135.770004  ...  133.119339   89880900

[5 rows x 6 columns]

In [34]:
#Adding Company name as attribute of df
company_list = [AAPL, GOOG, MSFT, AMZN]
company_name = ['APPLE', 'GOOGLE', 'MICROSOFT', 'AMAZON']

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name

In [39]:
#Creating single df
df = pd.concat(company_list, axis=0)
df.head(10)

                  Open        High  ...     Volume  company_name
Date                                ...
2021-01-28  139.520004  141.990005  ...  142621100         APPLE
2021-01-29  135.830002  136.740005  ...  177523800         APPLE
2021-02-01  133.750000  135.380005  ...  106239800         APPLE
2021-02-02  135.729996  136.309998  ...   83305400         APPLE
2021-02-03  135.759995  135.770004  ...   89880900         APPLE
2021-02-04  136.300003  137.399994  ...   84183100         APPLE
2021-02-05  137.350006  137.419998  ...   75693800         APPLE
2021-02-08  136.029999  136.960007  ...   71297200         APPLE
2021-02-09  136.619995  137.880005  ...   76774200         APPLE
2021-02-10  136.479996  136.990005  ...   73046600         APPLE

[10 rows x 7 columns]

In [41]:
AAPL.describe()

             Open        High         Low       Close   Adj Close        Volume
count  253.000000  253.000000  253.000000  253.000000  253.000000  2.530000e+02
mean   143.524823  145.010514  142.080079  143.568340  143.247385  8.971222e+07
std     16.155109   16.465096   15.977663   16.202769   16.390698  2.859486e+07
min    119.029999  120.400002  116.209999  116.360001  115.819870  4.100000e+07
25%    129.940002  130.889999  128.800003  130.210007  129.765900  6.902310e+07
50%    143.660004  144.839996  142.649994  143.759995  143.550491  8.450580e+07
75%    150.350006  151.679993  149.339996  150.809998  150.740005  1.058613e+08
max    182.630005  182.940002  179.119995  182.009995  182.009995  1.954327e+08

In [42]:
#Genaral Information
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2021-01-28 to 2022-01-27
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          253 non-null    float64
 1   High          253 non-null    float64
 2   Low           253 non-null    float64
 3   Close         253 non-null    float64
 4   Adj Close     253 non-null    float64
 5   Volume        253 non-null    int64
 6   company_name  253 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 15.8+ KB